<form action="/venues/{{event._id}}?_method=PUT" method="post">
    <label>Play Title:</label>
    <input type="text" name="name" value="{{event.name}}" />
      <label>Play Address:</label>
    <input type="text" name="address" value="{{event.address}}" />
      <label>Play Price:</label>
    <input type="text" name="address" value="{{event.cost}}" />
    <input type="submit" value="Submit"/>
</form>

