<div class="container">
    <div id="row">
        <div><a class="back" href="/venues/{{venueId}}"> back</a></div>
        <div class="eventTitle">Title: {{event.title}}</div>
        <div class="eventAddress">Address: {{event.address}}</div>
        <div class="eventCost">Cost: {{event.cost}}</div>
    </div>
</div>