
<div class="columns">
  <div class="column" id="title">ATL SHOWS</div>
  <div class="column"></div>
  <div class="column" id="nav">
      <span class="num4">About</span>
      <span class="num5"><a href="/venues">Venues</a></span>
      <span class="num7"><a href="/users/signin">Sign-In</a></span>
  </div>
</div>

<div class="container" id="headline">
    <div class="row">
        <h1 id="local-title"><span class="num1">Local People.</span> <span class="num2">Local Shows.</span> <span class="num3">Local Adventures.</span></h1>
    </div>
</div>


<video playsinline autoplay muted loop id="video" src="images/cheer.mp4" />