
    <div class="addVenue">Add Venue<a class="ion-ios-plus-outline" href="/venues/new"></a></div>
    <div class="backHome"><a href="/">Home</a></div>
    <div>
        <ul>
            {{#each venues}}
                <div class="button-area">
                    <a href="/venues/{{this._id}}">{{this.name}}
                     <div id="venue-address">{{this.address}}</div></a> 
                </div>
            {{/each}}
        </ul>
    </div>
