<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/signin.css' />
</head>
<div class="container">
    <form action="/venues">
            <label for="username">Username</label>
            <input class="signin" type="email" placeholder="Enter username">
            <label for="email">Email address</label>
            <input class="signin" type="email" placeholder="Enter email">
            <a class="login" href="/venues" type="submit">Login</a>
    </form>
</div>